.nav-placeholder-item {
  width: var(--spacing-nav-item-size);
  height: var(--spacing-nav-item-size);
  background-color: var(--color-surface-primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-nav-size);

  background-color: var(--color-background-primary);
  border-bottom: 1px solid var(--color-border-light);

  padding: var(--spacing-nav-padding);

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
