.timeline-group-dividers {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;

  .timeline-group-divider {
    position: absolute;
    left: 0;
    // border-bottom: 1px solid var(--color--border-prime);
    pointer-events: none;
  }
} 