.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-nav-size);

  background-color: var(--color--bg-prime);
  border-bottom: 1px solid var(--color--border-prime);

  padding: 0 var(--spacing-nav-padding);

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
