.container {
  background-color: var(--color--bg-prime);
  border: 1px solid var(--color--border-prime);
  border-radius: 8px;
  padding: 8px;
  box-shadow: var(--shaodw-pop-up);
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: var(--z-index-popup-main);
}

.item {
  width: 200px;

  &.auto-width {
    width: auto;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      font-size: 14px;
    }

    .label-text {
      font-size: 12px;
      line-height: 18px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .value {
    font-size: 12px;
    line-height: 18px;
    color: var(--color--text-secondary);
    flex-shrink: 0;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius-s);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--color--bg-hover);
  }
}

.value {
  font-weight: 500;
}

.portal {
  position: absolute;
  z-index: var(--z-index-tooltip);
  pointer-events: none; /* Allows hover to pass through to trigger */
}
