.dropdown-container {
  display: inline-block;
  position: relative;
  
}

.dropdown-trigger {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.dropdown-portal {
  position: absolute;
  z-index: var(--z-index-nav);
  // background-color: var(--color--bg-prime);
  // border: 1px solid var(--color--border-prime);
  // border-radius: 8px;
  // box-shadow: var(--shaodw-pop-up);
  // padding: 4px;
}