:root {
  --spacing-nav-item-size: 32px;
  --spacing-nav-padding: 12px;
  --spacing-nav-size: calc(var(--spacing-nav-item-size) + (var(--spacing-nav-padding) * 2) + 0px);

  --content-padding: 48px;
}
