.container {
  background-color: var(--color--bg-prime);
  border: 1px solid var(--color--border-prime);
  border-radius: 8px;
  padding: 8px;
  box-shadow: var(--shaodw-pop-up);
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 200px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius-s);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--color--bg-hover);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.value {
  font-weight: 500;
}

.portal {
    position: absolute;
    z-index: var(--z-index-tooltip);
    pointer-events: none; /* Allows hover to pass through to trigger */
} 